body {
	background-image: url("https://profile.perpus.jatengprov.go.id/asset/img_playlist/perpus-jateng.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
